# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android
pubspec.lock
android/settings.gradle
android/app/build.gradle
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
android/settings.gradle
android/app/build.gradle
android/settings.gradle
android/app/build.gradle
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
widgetbook/windows/.gitignore
widgetbook/windows/CMakeLists.txt
widgetbook/windows/flutter/CMakeLists.txt
widgetbook/windows/flutter/generated_plugin_registrant.cc
widgetbook/windows/flutter/generated_plugin_registrant.h
widgetbook/windows/flutter/generated_plugins.cmake
widgetbook/windows/runner/CMakeLists.txt
widgetbook/windows/runner/flutter_window.cpp
widgetbook/windows/runner/flutter_window.h
widgetbook/windows/runner/main.cpp
widgetbook/windows/runner/resource.h
widgetbook/windows/runner/runner.exe.manifest
widgetbook/windows/runner/Runner.rc
widgetbook/windows/runner/utils.cpp
widgetbook/windows/runner/utils.h
widgetbook/windows/runner/win32_window.cpp
widgetbook/windows/runner/win32_window.h
widgetbook/windows/runner/resources/app_icon.ico
macos/Flutter/GeneratedPluginRegistrant.swift



android/settings.gradle
android/app/build.gradle
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
pubspec.lock
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
widgetbook/pubspec.lock
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
